
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app">
   <h1 my-tooltip>Hover over this and see tooltip</h1>
      <div ng-view>
    </div>
</div>

@section Scripts{
 
    <script>
        var app = angular.module('app', ['ngRoute']);
        app.directive('myTooltip', function ()
        {
            return {
                restrict: 'A',
                template: 'ng-show="open" ng-mouseover="open = false"'
            };
        });
       app.service('patternService', function () {
           this.SetRegexPattern = function (country) {
               if (country == 'USA') {
                   return '^\\d{5}(?:-\\d{4})?$';
               }
               else if (country == 'Canada') {
                   return '^(?:[ABCEGHJ-NPRSTVXY]\\d[A-Z][ -]?\\d[A-Z]\\d)$';
               }
               else {
                   return '^\\d{5}$';
               }
           }

       });
       app.config(function ($routeProvider, $locationProvider) {
           $locationProvider.html5Mode(true);
           $routeProvider
           .when("/", {
               templateUrl: "Experimental/Addresses/Index.html",
               controller: "AddressList"
           }).when("/Addresses/MainView", {
               templateUrl: "Experimental/Addresses/Index.html",
               controller: "AddressList"
           })
               .when("/Addresses/Index", {
                   templateUrl: "Experimental/Addresses/Index.html",
                   controller: "AddressList"
               })

           .when("/Addresses/Edit/:id", {
               templateUrl: "Experimental/Addresses/Edit.html",
               controller: "EditAddress"
           })
           .when("/Addresses/Details/:id", {
               templateUrl: "Experimental/Addresses/Details.html",
               controller: "EditAddress"
           }).when("/Addresses/Create", {
               templateUrl: "Experimental/Addresses/Create.html",
               controller: "CreateAddress"
           });
          
        });
       app.controller('AddressList', ['$scope', '$http', function ($scope, $http) {

           $scope.model = [];
           $http.get('/Addresses/GetAddresses').then(function (response) {
               
                   $scope.model = response.data;
             
           });
           $scope.removeAddress = function (index) {
               var addressid = $scope.model[index].AddressID;
               $http.post("/Addresses/Delete/" + addressid).then(function (index)
               {
                   $scope.model.splice(index, 1);
               }, function () { });
           }

       }]).controller('EditAddress', ['$scope', '$http','$routeParams','$location','patternService', function ($scope, $http,$routeParams,$location,patternService) {
          
           $http.get('/Addresses/GetAddressDetails/'+$routeParams.id).then(function (response) {
               
                   $scope.model = response.data;
               
           });
          
           $scope.SetRegexPattern = function (country) {

              $scope.pattern = patternService.SetRegexPattern(country);
           }
           $scope.SaveForm = function () {
               var data = {
                   addressid: $scope.model.AddressID,
                   addressline1: $scope.model.AddressLine1,
                   addressline2: $scope.model.AddressLine2,
                   city: $scope.model.City,
                   stateprovince: $scope.model.StateProvince,
                   postalcode: $scope.model.PostalCode,
                   countryregion: $scope.model.CountryRegion
               }
               $http.post('/Addresses/Edit', data).then(function () {

                   $location.path('/Addresses/Index');

               },
               function () {
               });
           }
       }])
       .controller('CreateAddress', ['$scope', '$http', '$routeParams', '$location','patternService', function ($scope, $http, $routeParams, $location,patternService) {
          
           $scope.SetRegexPattern = function (country) {

               $scope.pattern = patternService.SetRegexPattern(country);
           }
           $scope.SaveForm = function () {
               var data = {
                   addressid: $scope.model.AddressID,
                   addressline1: $scope.model.AddressLine1,
                   addressline2: $scope.model.AddressLine2,
                   city: $scope.model.City,
                   stateprovince: $scope.model.StateProvince,
                   postalcode: $scope.model.PostalCode,
                   countryregion: $scope.model.CountryRegion
               }
               $http.post('/Addresses/Create', data).then(function () {

                   $location.path('/Addresses/Index');

               },
               function () {
               });
           }
       }]);
</script>


}