@model IEnumerable<Address> 

@{
    ViewBag.Title = "Shared";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    span i.glyphicon.glyphicon-filter {
        visibility: hidden;
    }
     span:hover i.glyphicon.glyphicon-filter {
        visibility: visible !important;
    }
</style>

<form id="dialog" style="background-color:gainsboro" class="table-bordered">
    <select id="filterclause">
        <option selected>Equals</option>
        <option>Contains</option>
        <option>Does not Contain</option>
        <option>Not Equal to</option>
    </select>
    <div>
        <label for="FirstBox">Field 1</label>
        <input id="FirstBox" />
    </div>

    <!--<button type="submit" class="btn btn-primary">Submit</button>-->

    <div>
        <button class="btn btn-primary" id="ApplyFilter">Apply Filter</button>
        <button class="btn btn-primary" id="ClearFilter">Clear Filter</button>
    </div>
</form>

<div id="DynamicView">
</div>

@section Scripts{
    <script>
        var filterindex = 0;
        
        $(document).ready(function ()
        {

        var Options =
        {
            url: "/Addresses/" + "@ViewBag.ViewName",
            type: "GET"
        };
            $.ajax(Options).done(function (data) {

                $("#DynamicView").html(data);

            });
            $(document).ajaxStart(function () {

                $(".signal").css('visibility', 'visible');
            });
            $(document).ajaxComplete(function () {

               
                $(".signal").css('visibility', 'hidden');
            })
        });

        function LoadAngular() {
            var address = angular.module('address', []);

            address.controller('rulesController', function ($scope) {

                $scope.postalcode = '';
                $scope.addresline1 = '';
                $scope.addresline2 = '';
                $scope.city = '';
                $scope.state = '';

            });

            angular.element(function(){angular.bootstrap(document, ["address"])});
        }

</script>
  
    }

