@model PagedList.IPagedList<MVCPractice.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/ColumnFilters.js"></script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using (Ajax.BeginForm("Index", "Products",
    new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "ProductsTable",
        InsertionMode = InsertionMode.Replace
    }))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search"/>
    </p>
}
<p>
    @Html.ActionLink("Create New Product", "Create")
</p>
@{Html.RenderPartial("ProductsTable");}

@section Scripts
       {
       }
      
