@model PagedList.IPagedList<MVCPractice.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
@using (Ajax.BeginForm("Index","Products",
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "ProductsTable",
        InsertionMode = InsertionMode.Replace
    }))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search"/>
    </p>
}
<p>
    @Html.ActionLink("Create New Product", "Create")
</p>
@Html.Partial("ProductsTable")

@section Scripts
       {
       }
      
